html {
  scroll-behavior: smooth;
  font-size: 100%;//ブラウザの文字サイズ可変
  overflow-x: hidden;//横スクロールバー規制
  }
body {
  font-family: 'Kosugi Maru', sans-serif;
  color: #000000;
  font-size: 16px;
  min-height: 100vh;
  position: relative; //absoluteの基準のため
  overflow-x: hidden;//横スクロールバー規制
}
a {
  transition: all 0.4s;
  opacity: 1;      
  &:hover {
    opacity: 0.7;
  }
}
.color1 {
  color: #333333;
}
.openbtn {
  display: none;
}
.header {
  transition: all 0.4s;   
  position: fixed;
  width: 100%;
  height: 34px;
  background-color: #EA8988;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  &__nav {
    display: none;
  }
  &__logo {
    display: flex;
    &-img {
      height: 34px;
      border-radius: 50%;
      margin-left: 10px;
    }
    &-name {
      display: flex;
      align-items: center;
      color: #ffffff;
      font-family: 'Anonymous Pro';
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 5px;
      margin-left: 15px;
      text-shadow: 0px 4px 4px rgb(0,0,0,0.19);
    }
  }
  &__link {
    display: flex;
    &-page {
      display: flex;
      align-items: center;
      margin-right: 10px;
      letter-spacing: 1px;
      color: #000000;
      font-size: 12.8px;
    }
    &-container {
      margin-right: 10px;
      display: flex;
      flex-wrap: nowrap;
    }
    &-sns {
      height: 28px;
      border-radius: 50%;
      // position: relative;
      margin: 0px 3px;
    }
  }
}
.mainvisual {
  width: 100%;
  height: 595px;
  background-image: url(../images/background-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  &__img {
    height: 595px;
  }
}
.menu {
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  &__item {
    color: #000000;
    font-size: 18px;
    letter-spacing: 5px;
    // font-weight: 700;
    position: relative;
    padding: 0.8rem 0.4rem; /* 下線の位置と幅調整*/
    text-decoration: none;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 2px; /*下線の太さ*/
      background-color: #EA8988; /*下線の色*/
      transition: all .3s; /*アニメーション速度*/
      transform: scaleX(0);
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
.news-top {
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
  padding: 50px 20px 0px 20px;
  &__container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    gap: 42px;
  }
}
.event {
  // border: 10px solid #bebebe;
  &__texture {
    margin-top: -25px;
    font-family: 'Oooh Baby', cursive;
    font-size: 139px;
    font-weight: bold;
    color: rgb(234,137,136,0.19);
    letter-spacing: 7px;
  }
  &__title {
    margin-top: -80px;
    font-size: 32px;
    color: #3E0000;
    text-align: center;
    font-weight: bold;
  }
  &__container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;
  }
  &__img1 {
    width: 282.22px;
    height: 400px;
    object-fit: cover;
  }
  &__img2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  &__description {
    width: fit-content;
    margin-top: 30px;
    min-width: 0;
  }
  &__text {
    color: #3E0000;
    font-size: 16px;
    line-height: 2;
  }

}
.info {
  margin-top: 45px;
  &__title {
    font-family: 'Oooh Baby', cursive;
    font-size: 48px;
    // color: rgb(62,0,0,0.75);
    font-weight: bold;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    &:before {
      border-top: 2px solid rgb(62,0,0,0.5);
      content: "";
      width: 0.5em; /* 線の長さ */
      margin-right: 30px; /* 文字の右隣 */
    }
    &:after {
      border-top: 2px solid rgb(62,0,0,0.5);
      content: "";
      width: 0.5em; /* 線の長さ */
      margin-left: 30px; 
    }
  } 
  &__description {
    padding-top: 30px;
    padding-bottom: 8px;
    border-bottom: solid 2px #D9D9D9;
    &-upper {
      display: flex;
      align-items: center;
    }
  }
  &__category {
    width: fit-content;
    padding: 0px 3px;
    height: 22px;
    font-size: 12.8px;
    display: flex;
    align-items: center;
    background-color: #EA8988;
    border-radius: 4px;
    color: #ffffff;
  }
  &__date {
    width: fit-content;
    padding: 0px 15px;
    height: 32px;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #666666;
  }
  &__text {
    margin-top: 10px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
  }
  &__text2 {
    margin-top: 10px;
    color: #3E0000;
    font-size: 14px;
    line-height: 1.6;
  }
}
.profile {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 100px 20px 0px 20px;
  &__title {
    font-family: 'Oooh Baby', cursive;
    font-size: 70px;
    color: #EA8988;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-shadow: 0px 4px 4px rgb(0,0,0,0.19);
    margin-left: 30px;
    letter-spacing: 1px;
  }
  &__container {
    margin-top: -20px;
    // height: 466px;
    background-color: #FFE0D8;
    border: solid 4px  #3E0000;
    border-radius: 32px;
    z-index: 10;
    padding: 6px;
  }
  &__container2 {
    background-color: #FFE0D8;
    border: solid 1px  #3E0000;
    border-radius: 24px;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
  &__img {
    // margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 412px;
  }
  &__description {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
  }
  &__text {
    &-1 {
      width: fit-content;
      color: #000000;
      font-size: 48px;
      font-family: 'Anonymous Pro';
    }
    &-2 {
      color: #000000;
      font-size: 22px;
      width: fit-content;
      margin-top: 7px;
    }
    &-3 {
      color: #000000;
      font-size: 16px;
      width: fit-content;
      margin-top: 32px;
      line-height: 32px;
    }
    &-4 {
      color: #000000;
      font-size: 16px;
      width: fit-content;
      text-decoration: underline;
      margin-top: 28px;
      margin-bottom: 4px;
    }
    &-5 {
      color: #000000;
      font-size: 14px;
      width: fit-content;
      text-decoration: underline;
      line-height: 26px;
    }
  }

}
.works {
  padding: 100px 20px 0px 20px;
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
  &__wrapper {
    padding-top: 50px;
    background-color: #EBE89C;
    border-radius: 16px;
    position: relative;
  }
  &__texture {
    position: absolute;
    transform: rotate(100deg);
    top: 70px;
    left: 60px;
    z-index: 10;
    width: 70%;
  }
  &__texture2 {
    position: absolute;
    transform: rotate(260deg);
    top: 870px;
    right: 60px;
    z-index: 10;
    width: 70%;
  }
  &__texture3 {
    position: absolute;
    transform: rotate(100deg);
    bottom: 60px;
    left: 60px;
    z-index: 10;
    width: 70%;
  }
  &__title {
    font-family: 'Oooh Baby', cursive;
    font-size: 65px;
    color: #333333;
    font-weight: bold;
    letter-spacing: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px rgb(0,0,0,0.19);
  }
  &__container {
    padding: 32px 100px;
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 32px;
    border: solid 6px #d8ccbc;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.2);
    z-index: 16;
    // min-width: 500px;
    &-img {
      width: 470px;
      // border: solid 3px #d8ccbc;
    }
    &-description {
      margin-left: 15px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-new {
      width: fit-content;
      color: white;
      font-size: 16px;
      letter-spacing: 1px;
      font-family: 'Anonymous Pro';
      background-color: red;
      padding: 2px 6px;
      border-radius: 4px;
    }
    &-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    &-text{
      margin-top: 6px;
      font-size: 16px;
    }
    &-size{
      margin-top: 6px;
      font-size: 16px;
    }
    &-price{
      margin-top: 6px;
      font-size: 16px;
    }
  }
  &__item2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 70px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 32px;
    border: solid 6px #d8ccbc;
    box-shadow: -10px 10px 10px rgb(0,0,0,0.2);
    z-index: 16;
  }
}
.goods {
  padding: 100px 20px 0px 20px;
  width: 100%;
  max-width: 1104px;
  margin: 0 auto;
  &__wrapper {
    background-color: #ffe0d8;
    border-radius: 32px;
  }
  &__title {
    font-family: 'Oooh Baby', cursive;
    font-weight: bold;
    padding-top: 20px;
    font-size: 65px;
    color: #3E0000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px rgb(0,0,0,0.19);
  }
  &__container {
    padding: 32px 128px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(240px,1fr));
    gap: 90px;
  }
  &__item {
    color: #3E0000;
    &-img {
      width: 100%;
      border-radius: 32px;
      border: solid 3px #d8ccbc;
    }
    &-title {
      margin-top: 16px;
      font-size: 1.5rem;
      font-weight: bold;
    }
    &-text{
      margin-top: 6px;
      font-size: 16px;
    }
    &-size{
      margin-top: 6px;
      font-size: 16px;
    }
    &-price{
      margin-top: 6px;
      font-size: 16px;
    }
  }
}
.footer {
  width: 100%;
  &-menu {
    width: 100%;
    max-width: 1104px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    &__item {
      color: #000000;
      font-size: 18px;
      letter-spacing: 2px;
      position: relative;
      padding: 0.8rem 0.4rem; /* 下線の位置と幅調整*/
      text-decoration: none;
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 2px; /*下線の太さ*/
        background-color: #EA8988; /*下線の色*/
        transition: all .3s; /*アニメーション速度*/
        transform: scaleX(0);
      }
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
  &__wrapper {
    width: 100%;
    background-color: #FFE0D8;
    border-top:solid 1px #EA8988;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
  &__logo {
    display: flex;
    align-items: center;
    &-img {
      height: 135px;

    }
    &-title {
      display: flex;
      flex-direction: row;
    }
    &-name {
      font-size: 28px;
      font-weight: bold;
      color: #3E0000;
      margin-left: 10px;
      text-shadow: 0px 4px 4px rgb(0,0,0,0.19);
    }
    &-site {
      font-size: 22px;
      font-weight: bold;
      color: #3E0000;
      margin-left: 0px;
      letter-spacing: 1px;
    }
  }
  &__sns {
    display: flex;
    flex-wrap: nowrap;
    &-item {
      height: 50px;
      border-radius: 50%;
      position: relative;
      margin: 0px 3px;
    }
  }
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: #EA8988;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px)   {
  body {
    min-width: 320px;
    margin: 0;
  }
  a {
    transition: all 0.4s;
    opacity: 1;      
    &:hover {
      opacity: 1;
    }
  }
  .header {
    min-width: 320px;
    height: 50px;
    &__logo {
      &-img {
        margin-left: 5px;
      }
      &-name {
        font-size: 16px;
        letter-spacing: 0px;
        margin-left: 5px;
      }
    }
    &__link {
      &-page {
        display: none;
      }
      &-sns {
        height: 32px;
      }
    }
    &__nav {
      display: block;
      position: fixed;
      top: 0px;
      margin: 0;
      max-width: 920px;
      font-size: 16px;
      top: -100%;
      width: 100%;
      padding: 60px 32px 60px 32px;
      color: #000000;
      background-color: #EA8988;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.4s;
      opacity: 0;
      z-index: 25;
      &.active {
        top: 0px;
        transition: 0.4s;
        opacity: 0.9;
        width: 100%;
      }
      &-item {
        font-size: 18px;
        margin: 20px 0;
      }
    }
  }
  .openbtn {
    display: block;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    transform:translate(0,-50%);
    width: 30px;
    height:12px;
    z-index: 30;
    cursor: pointer;
    &__line{
      display: inline-block;
      transition: all .5s;
      position: absolute;
      left: 1px;
      height: 2px;
      background: #000000;
      width: 100%;
      @for $i from 1 through 3 {
        &:nth-of-type(#{$i}) {top:10px * ($i - 1);}
      }
    }
    &.active .openbtn__line{
      background: #000000;
      &:nth-of-type(1) {
        top:  1.2px;
        left: 2px;
        transform: translateY(6.2px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        top: 14px;
        left: 2px;
        transform: translateY(-6.2px) rotate(45deg);
      }
    }
  }
  .news-top {
    width: 100%;
    max-width: 1104px;
    margin: 0 auto;
    padding: 50px 20px 0px 20px;
    &__container {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(1, minmax(300px,1fr));
      gap: 42px;
    }
  }
  .event {
    margin-top: 50px;
    &__container {
      flex-wrap: wrap;
    }
    &__texture {
      margin-top: -25px;
      font-family: 'Oooh Baby', cursive;
      font-size: 65px;
      // font-weight: bold;
      color: #EA8988;
      letter-spacing: 7px;
      text-align: center;
      text-shadow: 0px 4px 4px rgb(0,0,0,0.1);
    }
    &__title {
      margin-top: 0px;
      font-size: 32px;
      color: #3E0000;
      text-align: center;
      font-weight: bold;
    }
  }
  .info {
    &__title {
      width: 100%;
      font-size: 28px;
      justify-content: center;
    }
  }
  .menu {
    display: none;
  }
  .profile {
    &__title {
      font-size: 65px;
      width: 100%;
      margin-left: 0px;
      text-align: center;
      justify-content: center;
      text-shadow: 0px 4px 4px rgb(0,0,0,0.1);
    }
    &__img {
      margin-left: 0px;
      height: auto;
      width: 100%;
    }
    &__container2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__description {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 0 60px 0;
    }
    &__text {
      &-1 {
        width: fit-content;
        color: #000000;
        font-size: 28px;
        font-family: 'Anonymous Pro';
      }
      &-2 {
        color: #000000;
        font-size: 18px;
        width: fit-content;
        margin-top: 7px;
      }
      &-3 {
        color: #000000;
        font-size: 14px;
        width: fit-content;
        margin-top: 32px;
        line-height: 32px;
      }
      &-4 {
        color: #000000;
        font-size: 14px;
        width: fit-content;
        text-decoration: underline;
        margin-top: 28px;
        margin-bottom: 4px;
      }
      &-5 {
        color: #000000;
        font-size: 12.8px;
        width: fit-content;
        text-decoration: underline;
        line-height: 26px;
      }
    }
  }
  .works {
    &__title {
      text-align: center;
    }
    &__container {
      padding: 32px 16px;
      display: flex;
      flex-direction: column;
    }
    &__item {
      padding: 5px;
      border-radius: 8px;
      border: solid 4px #d8ccbc;
      box-shadow: 0px 5px 5px rgb(0,0,0,0.2);
      &-img {
        width: 100%;
      }
      &-description {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
    &__item2 {
      padding: 5px;
      border-radius: 8px;
      border: solid 4px #d8ccbc;
      box-shadow: 0px 5px 5px rgb(0,0,0,0.2);
      &-img {
        width: 100%;
      }
    }
  }
  .goods {
    &__title {
      text-align: center;
    }
    &__container {
      padding: 32px 32px;
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(1, minmax(240px,1fr));
      gap: 90px;
    }
  }
  .footer {
    padding-top: 100px;
    &-menu {
      display: none;
    }
    &__container {
      display: flex;
      flex-direction: column-reverse;
      // justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
    }
    &__logo {
      &-site {
        margin-top: 32px;
      }
      &-img {
        margin-top: 16px;
      }
      &-name {
        text-shadow: 0px 4px 4px rgb(0,0,0,0.1);
      }
    }    
    &__sns {
      &-item {
        margin-top: 32px;
      }
    }
  }

}